.active {
    font-weight: 500;
    background-color: #eff6fc;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: #2564cf;
        z-index: 1;
    }
}
